<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh.users.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssh.users.entity.Users">
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="icon" property="icon" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="locaed" property="locaed" />
        <collection property="roles" ofType="com.ssh.users.entity.Roles">
            <result column="rolename" property="rolename" />
            <result column="description" property="description" />
            <result column="available" property="available" />
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        username, phone, password, salt, icon, address, create_time, update_time, last_login_time, locaed
    </sql>

    <!-- 根据登录用户名查询用户的角色 -->
    <select id="selectRole" resultMap="BaseResultMap">

        SELECT * FROM sys_users u,sys_user_role ur,sys_roles r WHERE u.username = 'admin' AND u.id = ur.user_id AND ur.role_id = r.id

    </select>

</mapper>
